.start{
    background-image: url('../1.jpg');
    /* height: 100%;  */
    height: 100vh;

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.startbg{
    background-color: rgb(200,200,200,0.2);
    height: 100vh;
    width: 100%;
}
.login{
    background-image: url('../2.jpg');
    /* height: 100%;  */
    height: 100vh;

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginbg{
    background-color: rgb(200,200,200,0.5);
    height: 100vh;
    width: 100%;
}
.menu{
    background-image: url('../3.jpeg');
    height: 350px;

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menubg{
    background-color: rgb(200,200,200,0.3);
    padding: 20px 40px ;
    height: 350px;
    width: 100%;
}
.menuhome{
    /* background-color: rgb(240,240,240,0.8); */
    background-color: #fff;
    opacity: 0.85;
    padding: 30px 20px;
    margin-top: -130px;
    border-radius: 10px;
    border:2px solid #999;
    width: 100%;
}
.section1{
    border: solid 2px #999;
}
.sectionimg{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.logo{
    background-image: url('../logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 100px;

}
.stxt{
    color: white;
    text-align: center;
}
.loginbtn{
    position: absolute;
    z-index: 200;
    right: 20px;
    top: 20px;
    align-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
}

.line{
    border: solid 0.2px rgb(0,0,0,0.3);
    /* border-top: 0.1px;
    border-color: black;
    border-style: solid; */
    width: 100%;

}

.bordertop{
    border-top: solid 3px rgb(0,0,0,0.2);
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
 
.Alertbox1 {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 995;
  overflow-y: scroll;
}

.centerbox1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.indexbox1 {
    width: 500px;
    padding:20px;
    background-color: rgb(255, 255, 255, 1);
    
    height: auto;
    text-align: justify;
    position: relative;
    display: inline-block;
}
.carlogo{
    width: 100px;
    height: auto;
    object-fit: contain;
    padding:20px;
}
.carlogo1{
    width: 140px;
    height: auto;
    object-fit: contain;
    padding:20px;
    float: right;
}
