.start{
    background-image: url('../1.jpg');
    /* height: 100%;  */
    height: 100vh;

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.startbg{
    background-color: rgb(200,200,200,0.2);
    height: 100vh;
    width: 100%;
}
.login{
    background-image: url('../2.jpg');
    /* height: 100%;  */
    height: 100vh;

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginbg{
    background-color: rgb(200,200,200,0.5);
    height: 100vh;
    width: 100%;
}
.logo{
    background-image: url('../logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 100px;

}
.stxt{
    color: white;
    text-align: center;
}
.loginbtn{
    position: absolute;
    z-index: 200;
    right: 20px;
    top: 20px;
    align-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
}

.line{
    border: solid 0.2px rgb(0,0,0,0.3);
    /* border-top: 0.1px;
    border-color: black;
    border-style: solid; */
    width: 100%;

}